{% extends '__autoindex__/autoindex.html' %}

{% block meta %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='myautoindex.css') }}" />
{% endblock %}


{% block header %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<a href="/logout">Logout</a>


<h3>Upload new File</h3>
<form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
</form>
    <div style="width: 900px;">
        <h2>My local fileshare</h2>
{% endblock %}

{% block footer %}
    </div>
{% endblock %}
