<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }} type="text/css">
    <title>Register</title>
</head>
<body>
    <div class="message">
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </div>
    
    <form action="" method="POST">
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Registration</h1>
                </div>
                <div class="login-form">
                    <div class="control-group"> 
                        <input type="text" class="login-field" placeholder="Login" name="login"><label class="login-field-icon fui-lock" for="login-pass"></label>
                        <br/><br>
                        <input type="password" class="login-field" placeholder="Pass" name="password"><label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>
                    <input type="submit" value="Register" class="btn btn-primary btn-large btn-block">
                    <br/><br>
                    <a href="{{ url_for('login_page')}}">Login</a>
                </div>
            </div>
        </div>
    </form>

</body>

</html>